<main>
<h2>Animals</h2>

<p>Click on the image to get more details about the animal</p>

<% @animals.each do |animal| %>

<p>Name: <%= animal.name() %> </p>
<p>Type: <%= animal.type() %> </p>
<p>Breed: <%= animal.breed() %> </p>


<p><a href="/animals/<%= animal.id %>">Show Animal</a></p>
<% end %>
</main>
<footer>
<a href="/animals/new">Add Animal</a>
</footer>
