<main>
<h2>Animals</h2>

<p>Click on the image to get more details about the animal</p>

<% @animals.each do |animal| %>

<p>Name:<a href="/animals/<%= animal.id %>"> <%= animal.name() %></a> </p>
<p>Type: <%= animal.type() %> </p>
<p>Breed: <%= animal.breed() %> </p>

<% end %>
</main>
<footer>
<a href="/animals/new">Add Animal</a>
</footer>
