<!DOCTYPE html>
<html>
<head>
  <title>Scottish Animal Shelter</title>
</head>
<body>

  <header>
    <h1>Scottish Animal Shelter</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/animals">Animals</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/adoptions">Adoptions</a></li>
      </ul>
    </nav>
  </header>
  <%= yield %>
</body>
</html>
