body{margin:0px;}

.home{
  background: url('/images/home.jpg');
}

.welcome{
  color:black;
  margin: 1em;
}

h2{
  margin: 1em;
}

h1{
  background: dodgerblue;
  color: white;
  text-align: center;
  padding: 50px;
  margin: 0px;
  font-size: 3em;
}

p{margin-left: 20px;}

h1, h2 {font-family: "Times New Roman", serif;}

p, a, td{font-family: "Roboto" ,sans-serif;}

nav {background: silver;}

nav ul {
  padding: 0px;
  margin: 0

}


nav ul li{
  list-style-type: none;
  display: inline;

}

nav ul li a{
  text-decoration: none;
  padding: 20px;
  color: black;
  display: inline-block;
  margin: 0px;
}

table{margin:10px;}
tr:hover {background-color: silver;
}

td ,th {
    border: 1px solid #ddd;
    padding: 15px;
}

footer{
  background: dodgerblue;
  padding:30px;
  color: white;
  text-align: center;
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

li a:hover {
    background-color: dodgerblue;
    color: white;
}

.button {
  background: dodgerblue;
  padding:5px;
  border-radius: 3px;
  margin: 10px;
  color: white;
  text-decoration: none;
  float: right;
  position:fixed;
  bottom: 6em;
  right: 2em;
  width: 8em;
  text-align: center;

}

td a {color: dodgerblue;
      text-decoration: none;}

.show_animal{margin: 2em;}

main{overflow:scroll;}

.details{
  font-size: 1.25em;
  border: 3px solid dodgerblue;
  margin:2em 15em;
}
