body{
  margin:0px;
}

.container{
  height: 100%;
}

main{height: 80vh;}

.welcome{
  color:black;
  margin-left: 1em;
  position:absolute;

}

.background_image{
  background-size: contain;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100vw;
}



h1{
  background: dodgerblue;
  color: white;
  text-align: center;
  padding: 50px;
  margin: 0px;
  font-size: 3em;
  font-family: "Times New Roman", serif;
}

h2{
  margin: 1em;
  font-family: "Times New Roman", serif;
}

nav {background: silver;
  }

nav ul {
  padding: 0px;
  margin: 0
}


nav ul li{
  list-style-type: none;
  display: inline;
}

nav ul li a{
  text-decoration: none;
  padding: 20px;
  color: black;
  display: inline-block;
  margin: 0px;
}

li a:hover {
    background-color: dodgerblue;
    color: white;
}

main{overflow:auto;}

p{margin-left: 20px;}

p, a, td{font-family: "Roboto" ,sans-serif;}



table{margin:10px 10px 10px 15px;
}
tr:hover {background-color: silver;
}

td ,th {
    border: 1px solid #ddd;
    padding: 15px;
}

td a {color: dodgerblue;
      text-decoration: none;}


footer{
  background: dodgerblue;
  padding:30px;
  color: white;
  text-align: center;
  position: relative ;
  bottom: 0;
  left: 0;
  bottom: 0;
}



.button {
  background: dodgerblue;
  padding:5px;
  border-radius: 3px;
  margin: 10px;
  color: white;
  text-decoration: none;
  float: right;
  position:relative;
  bottom: 3em;
  right: 2em;
  width: 8em;
  text-align: center;
}

.form_button{  background: dodgerblue;
  color: white;
  padding:5px;
  margin:auto;
}



.details{
  font-size: 1.2em;
  border: 3px solid dodgerblue;
  margin:5em 15em;
  padding: 10px;
  text-align: center;

}

.create{padding:10px;
border: 3px solid dodgerblue;
text-align: center;
margin:5em 15em;
/* vertical-align: middle; */
 }
